certifi==2018.4.16
django==2.0.5
djangorestframework==3.8.2
# djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
requests==2.18.4
gunicorn==19.9.0
raven==6.9.0
django-filter==1.1.0
django-cors-headers==2.3.0
requests-toolbelt==0.9.1